# üìò Sesi√≥n 2.1: Acceso y Lectura de Datos en Python

### üéØ Objetivos de aprendizaje
- Comprender c√≥mo acceder a datos desde m√∫ltiples fuentes.
- Leer datos en formatos estructurados (CSV, Excel, JSON) y semiestructurados (APIs, SQL).
- Aplicar limpieza b√°sica: nombres de columnas, tipos de datos, valores faltantes.

## 1Ô∏è‚É£ Introducci√≥n a pandas y lectura de archivos CSV

In [1]:
import pandas as pd

# Leer CSV desde URL
url_csv = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv'
df_csv = pd.read_csv(url_csv)
df_csv.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

Hemos cargado un dataset com√∫n llamado `tips` que contiene informaci√≥n sobre propinas en un restaurante. Usamos `pd.read_csv()` para leerlo desde una URL directamente.

### ****Tarea Adicional para el Estudiante (Compartir C√≥digo y Criterios):****

*   **Lectura de Otro Dataset:** Utiliza `pd.read_csv()` para cargar otro dataset, por ejemplo, el dataset `iris` o `titanic` (puedes buscar sus URLs en repositorios como Kaggle o directamente en Seaborn).
¬øQu√© par√°metros adicionales de `pd.read_csv()` crees que podr√≠an ser √∫tiles en diferentes escenarios (ej. `sep`, `header`, `encoding`)?

In [ ]:
# Tu c√≥digo para cargar otro dataset y tus comentarios aqu√≠

## 2Ô∏è‚É£ Exploraci√≥n inicial del dataset

In [2]:
# Mostrar las primeras 5 filas
print("Primeras 5 filas del dataset:")
print(df_csv.head())

Primeras 5 filas del dataset:
   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
# Mostrar informaci√≥n general (tipos de datos, nulos)
print("\nInformaci√≥n general del dataset:")
df_csv.info()

Informaci√≥n general del dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

In [4]:
# Mostrar estad√≠sticas descriptivas
print("\nEstad√≠sticas descriptivas:")
df_csv.describe()

Estad√≠sticas descriptivas:

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [5]:
# Contar valores nulos por columna
print("\nConteo de valores nulos por columna:")
df_csv.isnull().sum()

Conteo de valores nulos por columna:

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

**Explicaci√≥n:**
Hemos utilizado `head()` para ver las primeras filas, `info()` para entender los tipos de datos y la presencia de nulos, `describe()` para estad√≠sticas b√°sicas y `isnull().sum()` para cuantificar los nulos.


### **Tarea Adicional para el Estudiante (Compartir C√≥digo y Criterios):**

*   **Exploraci√≥n Personalizada:** Elige una columna del dataset `df_tips` que te parezca interesante (ej. `total_bill`, `tip`, `day`) y realiza una exploraci√≥n m√°s profunda. Por ejemplo:
    *   Si es num√©rica: obt√©n la media, mediana, desviaci√≥n est√°ndar manualmente si no usaste `describe()`.
    *   Si es categ√≥rica: obt√©n el conteo de valores √∫nicos y la frecuencia de cada categor√≠a.
*   ¬øQu√© m√©trica o informaci√≥n adicional crees que ser√≠a valiosa obtener de la columna que elegiste, y por qu√©?

In [ ]:
# Tu c√≥digo de exploraci√≥n personalizada y comentarios aqu√≠

## 3Ô∏è‚É£ Limpieza de datos: nombres, tipos, valores nulos

In [6]:
# Renombrar columnas: min√∫sculas y sin espacios
df_csv.columns = [col.lower().strip() for col in df_csv.columns]
print("\nColumnas renombradas:", df_csv.columns)

Columnas renombradas: Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [7]:
# Convertir tipo de dato de la columna 'tip' a float
df_csv['tip'] = df_csv['tip'].astype(float)
print("\nTipo de dato de 'tip' actualizado:", df_csv['tip'].dtype)

Tipo de dato de 'tip' actualizado: float64

In [8]:
# Eliminar filas con valores nulos (si los hubiera identificado antes)
print(f"\nFilas antes de dropna: {len(df_csv)}")

df_csv.dropna(inplace=True)
print("\nDataset despu√©s de limpieza b√°sica:")
df_csv.head()

Filas antes de dropna: 244

Dataset despu√©s de limpieza b√°sica:

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

**Explicaci√≥n:**
Hemos limpiado los nombres de las columnas para facilitar su uso y asegurado que la columna `tip` sea un n√∫mero flotante. Tambi√©n eliminamos filas con datos faltantes para evitar problemas en an√°lisis posteriores.

### **Tarea Adicional para el Estudiante (Compartir C√≥digo y Criterios):**

*   **Manejo de Nulos Alternativo:** En lugar de `dropna()`, ¬øc√≥mo podr√≠as haber manejado los valores nulos de la columna `tip` si hubieran sido muchos? (Pista: piensa en imputaci√≥n de valores). Escribe el c√≥digo para imputar la media de la columna `tip` a los valores nulos.
*   ¬øCu√°ndo preferir√≠as imputar valores en lugar de eliminarlos, y viceversa?

In [ ]:
# Tu c√≥digo para imputar valores nulos y comentarios aqu√≠

## 4Ô∏è‚É£ Lectura de archivos Excel

Pandas puede leer directamente archivos Excel utilizando el motor `openpyxl`. Esto es muy √∫til para datos que provienen de hojas de c√°lculo.

In [20]:
# Cargar un archivo Excel desde una URL (requiere la librer√≠a openpyxl)
try:
    df_customers = pd.read_excel(
        "https://api.slingacademy.com/v1/sample-data/files/customers.xlsx",
        engine="openpyxl"
    )
    print("Archivo Excel cargado exitosamente.")
    print("Primeras 5 filas del archivo Excel:")
    print(df_customers.head())

    
except Exception as e:
    print(f"Error al cargar el archivo Excel: {e}")
    print("Aseg√∫rate de tener instalada la librer√≠a 'openpyxl' (pip install openpyxl)")

Archivo Excel cargado exitosamente.
Primeras 5 filas del archivo Excel:
  first_name last_name                               email  \
0     Joseph      Rice      josephrice131@slingacademy.com
1       Gary     Moore       garymoore386@slingacademy.com
2       John    Walker      johnwalker944@slingacademy.com
3       Eric    Carter      ericcarter176@slingacademy.com
4    William   Jackson  williamjackson427@slingacademy.com

                  phone                                   address gender  age  \
0  +1-800-040-3135x6208    91773 Miller Shoal\nDiaztown, FL 38841   male   43
1     221.945.4191x8872       6450 John Lodge\nTerriton, KY 95945   male   71
2     388-142-4883x5370  27265 Murray Island\nKevinfort, PA 63231   male   44
3         (451)259-5402                 USNS Knight\nFPO AA 76532   male   38
4      625.626.9133x374   170 Jackson Loaf\nKristenland, AS 48876   male   58

  registered  orders   spent       job                      hobbies  \
0 2019-05-05       7  568.29    Artist               Playing sports
1 2020-05-20      11  568.92    Artist                     Swimming
2 2020-04-04      11  497.12     Clerk                     Painting
3 2019-01-30      17  834.60   Butcher  Playing musical instruments
4 2022-07-01      14  151.59  Engineer                      Reading

   is_married
0       False
1        True
2       False
3       False
4       False

In [21]:
df_customers.head()

,first_name,last_name,email,phone,address,gender,age,registered,orders,spent,job,hobbies,is_married
0,Joseph,Rice,josephrice131@slingacademy.com,+1-800-040-3135x6208,"91773 Miller Shoal\nDiaztown, FL 38841",male,43,2019-05-05,7,568.29,Artist,Playing sports,False
1,Gary,Moore,garymoore386@slingacademy.com,221.945.4191x8872,"6450 John Lodge\nTerriton, KY 95945",male,71,2020-05-20,11,568.92,Artist,Swimming,True
2,John,Walker,johnwalker944@slingacademy.com,388-142-4883x5370,"27265 Murray Island\nKevinfort, PA 63231",male,44,2020-04-04,11,497.12,Clerk,Painting,False
3,Eric,Carter,ericcarter176@slingacademy.com,(451)259-5402,USNS Knight\nFPO AA 76532,male,38,2019-01-30,17,834.60,Butcher,Playing musical instruments,False
4,William,Jackson,williamjackson427@slingacademy.com,625.626.9133x374,"170 Jackson Loaf\nKristenland, AS 48876",male,58,2022-07-01,14,151.59,Engineer,Reading,False

### **Tarea Adicional para el Estudiante (Compartir C√≥digo y Criterios):**


*   **Inspecci√≥n del Excel:** Observa las columnas y los tipos de datos del `df_customers` cargado. Si alguna columna no tiene el tipo de dato correcto, o si hay valores faltantes, aplica una correcci√≥n b√°sica (ej. renombrar una columna, convertir un tipo, o eliminar filas nulas si es necesario).

*    ¬øQu√© informaci√≥n adicional te gustar√≠a poder extraer o transformar de este archivo Excel, y qu√© funci√≥n de Pandas podr√≠as usar para ello?

*    **Limpieza b√°sica:** 

        Normalizar columnas con lower() y strip().
        Convertir fechas (registered) a tipo datetime.
        Manejar valores nulos (dropna() o fillna()).

*    **An√°lisis y agregaciones:**

        Agrupar por edad, pa√≠s, empleo o estado civil.
        Calcular m√©tricas como promedio de gasto (spent) o n√∫mero de √≥rdenes (orders).

*    **Visualizaci√≥n:**

        Usar seaborn para gr√°ficos de distribuci√≥n por edad y gasto.
        Visualizar correlaciones mediante pairplot o scatterplot.

In [ ]:
# Tu c√≥digo de inspecci√≥n/correcci√≥n del Excel y comentarios aqu√≠

## 5Ô∏è‚É£ Lectura y manipulaci√≥n de datos JSON

Pandas puede leer directamente datos JSON desde una URL de API. La columna `address` es un ejemplo de estructura anidada que podr√≠amos necesitar "aplanar" o procesar.

In [22]:
# API de ejemplo: Usuarios de JSONPlaceholder
try:
    json_url = 'https://jsonplaceholder.typicode.com/users'
    df_json = pd.read_json(json_url)
    print("Datos JSON de usuarios cargados exitosamente.")
    print("Columnas relevantes (name, email, address):")
    # Seleccionar y mostrar algunas columnas clave
    print(df_json[['name', 'email', 'address']].head())

    # Explorar la estructura de la columna 'address'
    print("\nEstructura de la columna 'address':")
    print(df_json['address'].iloc[0]) # Muestra el primer registro de la columna address

except Exception as e:
    print(f"Error al cargar datos JSON desde la API: {e}")

Datos JSON de usuarios cargados exitosamente.
Columnas relevantes (name, email, address):
               name                      email  \
0     Leanne Graham          Sincere@april.biz
1      Ervin Howell          Shanna@melissa.tv
2  Clementine Bauch         Nathan@yesenia.net
3  Patricia Lebsack  Julianne.OConner@kory.org
4  Chelsey Dietrich   Lucio_Hettinger@annie.ca

                                             address
0  {'street': 'Kulas Light', 'suite': 'Apt. 556',...
1  {'street': 'Victor Plains', 'suite': 'Suite 87...
2  {'street': 'Douglas Extension', 'suite': 'Suit...
3  {'street': 'Hoeger Mall', 'suite': 'Apt. 692',...
4  {'street': 'Skiles Walks', 'suite': 'Suite 351...

Estructura de la columna 'address':
{'street': 'Kulas Light', 'suite': 'Apt. 556', 'city': 'Gwenborough', 'zipcode': '92998-3874', 'geo': {'lat': '-37.3159', 'lng': '81.1496'}}

**Tarea Adicional para el Estudiante (Compartir C√≥digo y Criterios):**

*   **Aplanar la Columna 'address':** Crea nuevas columnas para la `calle` y la `ciudad` extray√©ndolas del diccionario de la columna `address`. Utiliza el m√©todo `.apply()` con una funci√≥n lambda o `.str.get()` si la estructura es consistente.
*   ¬øQu√© otras formas podr√≠as usar para obtener informaci√≥n de estructuras de datos anidadas en Python (m√°s all√° de `apply` con lambda)? Menciona una t√©cnica o librer√≠a.

In [ ]:
# Tu c√≥digo para aplanar 'address' y comentarios aqu√≠

## 6Ô∏è‚É£ Conexi√≥n y consulta b√°sica en SQLite

Hemos usado la librer√≠a `sqlite3` para crear una base de datos en memoria, definir una tabla, insertar datos y realizar una consulta b√°sica.

In [24]:
import sqlite3

# Conectar a una base de datos en memoria (no se guarda al cerrar)
conn = sqlite3.connect(':memory:')
print("Conexi√≥n a base de datos SQLite en memoria establecida.")

# Crear una tabla simple
cursor = conn.cursor()
cursor.execute("CREATE TABLE IF NOT EXISTS empleados (id INTEGER PRIMARY KEY, nombre TEXT, puesto TEXT)")
print("Tabla 'empleados' creada.")

# Insertar algunos datos
empleados_data = [
    ('Alice', 'Data Scientist'),
    ('Bob', 'Data Engineer'),
    ('Charlie', 'Analista BI')
]
cursor.executemany("INSERT INTO empleados (nombre, puesto) VALUES (?, ?)", empleados_data)
conn.commit() # Guardar los cambios
print("Datos insertados en la tabla 'empleados'.")

# Realizar una consulta
print("\nConsulta de todos los empleados:")
cursor.execute("SELECT nombre, puesto FROM empleados")
# Fetchall recupera todos los resultados de la consulta
resultados_sqlite = cursor.fetchall()
print(resultados_sqlite)

# Cerrar la conexi√≥n
conn.close()
print("\nConexi√≥n a SQLite cerrada.")

Conexi√≥n a base de datos SQLite en memoria establecida.
Tabla 'empleados' creada.
Datos insertados en la tabla 'empleados'.

Consulta de todos los empleados:
[('Alice', 'Data Scientist'), ('Bob', 'Data Engineer'), ('Charlie', 'Analista BI')]

Conexi√≥n a SQLite cerrada.

**Tarea Adicional para el Estudiante (Compartir C√≥digo y Criterios):**

*   **Consulta Filtrada:** Modifica la consulta SQL para obtener solo los empleados cuyo `puesto` sea 'Data Scientist'. Luego, usa `pd.read_sql_query()` para leer el resultado directamente en un DataFrame de Pandas.
*   ¬øCu√°ndo preferir√≠as usar `sqlite3` directamente vs. usar `pd.read_sql_query()`? ¬øQu√© ventajas ves en cada enfoque?

In [ ]:
# Tu c√≥digo para la consulta filtrada y comentarios aqu√≠

In [25]:
# Conectar a una base de datos en memoria (no se guarda al cerrar)
conn = sqlite3.connect(':memory:')
print("Conexi√≥n a base de datos SQLite en memoria establecida.")
df_csv.to_sql('tips', conn, index=False)
consulta = pd.read_sql_query('SELECT sex, AVG(total_bill) as avg_bill FROM tips GROUP BY sex', conn)
print("Tabla 'empleados' creada.")
consulta

Conexi√≥n a base de datos SQLite en memoria establecida.
Tabla 'empleados' creada.

      sex   avg_bill
0  Female  18.056897
1    Male  20.744076

üîç **Explicaci√≥n l√≠nea por l√≠nea:**

   **‚úÖ conn = sqlite3.connect(':memory:')**
    
>   - ¬øQu√© hace? Crea una base de datos SQLite temporal en memoria RAM (no se guarda en disco).

>   - ¬øPor qu√© usar :memory:? Es √∫til para pruebas, demostraciones o procesamiento r√°pido sin necesidad de un archivo f√≠sico.

>    - Devuelve un objeto Connection llamado conn, que se usar√° para interactuar con la base de datos.

   **‚úÖ df_csv.to_sql('tips', conn, index=False)**
        
>   -    ¬øQu√© hace?  Toma el DataFrame df_csv (por ejemplo, tips.csv) y lo convierte en una tabla llamada tips dentro de la base de datos creada.
>   -    conn: es la conexi√≥n que creamos previamente.
>   -    'tips': es el nombre de la tabla SQL que se crear√°.
>   -    index=False: evita que se agregue la columna de √≠ndice de pandas a la tabla SQL.

   **‚úÖ consulta = pd.read_sql_query('SELECT sex, AVG(total_bill) as avg_bill FROM tips GROUP BY sex', conn)**

>   -     ¬øQu√© hace? Ejecuta una consulta SQL sobre la base SQLite y devuelve el resultado como un nuevo DataFrame de pandas.
>   -     SELECT sex, AVG(total_bill) as avg_bill: selecciona la columna sex y calcula el promedio de la columna total_bill, renombr√°ndola como avg_bill.
>   -     FROM tips: indica que la consulta se hace sobre la tabla tips.
>   -     GROUP BY sex: agrupa los registros por g√©nero (sex), por lo que obtendr√°s una fila por cada g√©nero (Male, Female, etc.) con su respectivo promedio de cuenta.

### **Tarea Adicional para el Estudiante (Compartir C√≥digo y Criterios):**

- Leer un archivo JSON desde una URL.
- Crear una tabla SQLite con los datos.
- Consultar promedio de alguna columna agrupada por una categor√≠a textual.

In [ ]:
# Tu c√≥digo y comentarios aqu√≠